:root {
  --couleur_fond: #9b7066;
  --couleur_text: #ffffff;
  --titre: "Shrikhand", serif;
  --text: "Questrial", sans-serif;
  --angle: 15em;
}
body {
  overflow-x: hidden;
}
#propos {
  text-align: center;
  margin-top: -25em;
}
h1 {
  font-size: 3em;
  font-weight: 100;
  text-transform: uppercase;
}
#propos p {
  margin-top: 2em;
  font-size: 2em;
}
main {
  margin-top: -7%;
}
#fleche {
  position: relative;
  width: 12%;
  margin-top: 20%;
  transform: rotate(-150deg);
  margin-left: 8%;
}

#grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 5em;
  text-align: center;
}
#grid p {
  font-size: 2em;
  margin-top: 6.5em;
  display: none;
  cursor: pointer;
  z-index: 2;
  transition: all 0.3s ease;
  pointer-events: none;
}

#grid img:hover + p {
  display: block;
}
#grid img:hover {
  filter: brightness(0.5);
  box-shadow: white 0 0 50px;
}

#grid img {
  border-radius: 2em;
  width: 100%;
  cursor: pointer;
}
#grid1 {
  grid-column: 2/4;
  grid-row: 1;
}
#grid2 {
  grid-column: 4/6;
  grid-row: 1;
}
#grid3 {
  grid-column: 2/4;
  grid-row: 2;
}
#grid4 {
  grid-column: 4/6;
  grid-row: 2;
}
#grid5 {
  grid-column: 2/6;
  grid-row: 3;
}

@media (max-width: 860px) {
  #propos p {
    font-size: 1.7em;
  }
}
@media (max-width: 426px) {
  #fleche {
    width: 50%;
    margin-top: 30%;
    transform: rotate(-90deg);
  }
  h1 {
    margin-top: 1em;
    font-size: 2em;
  }
  #propos p {
    font-size: 1.2em;
  }

  #grid {
    margin-left: 15%;
    margin-right: 15%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5em;
    text-align: center;
  }

  #grid p {
    display: block;
    margin-top: 50%;
  }
  #grid5 {
    margin-top: 20%;
  }
  #grid img {
    filter: brightness(0.5);
  }

  #grid1 {
    grid-column: 1;
    grid-row: 1;
  }
  #grid2 {
    grid-column: 1;
    grid-row: 2;
  }
  #grid3 {
    grid-column: 1;
    grid-row: 3;
  }
  #grid4 {
    grid-column: 1;
    grid-row: 4;
  }
  #grid5 {
    grid-column: 1;
    grid-row: 5;
  }
}

@media (max-width: 321px) {
  h1 {
    margin-top: 2em;
    font-size: 1.7em;
  }

  #propos p {
    font-size: 1.3em;
  }
}
